<main>

    <!--=============================== Home Page ==============================-->

    <div *ngIf="homepage">
        <div class="section1">
            <div class="content">
                <h1 class="anim">Excel to MySql</h1>
                <p class="anim">
                    Make EXCEL spreadsheets easy to read by converting them to MySql.
                </p>
                

                <input type="file" class="anim" (change)="onFileSelected($event)">

                <!-- <button class="btn-hover color-9" (click)="getDataConfiguration()">CHECK</button> -->
                <!-- <button class="btn-hover color-1"  href="#popup1" (click)="onUpload()" *ngIf="UploadButton">UPLOAD</button> -->

                <a class="button"  href="#popup1" (click)="getDataConfiguration()">Check</a>
         

                
                <div class="error-msg" *ngIf="errorLabel">
                    <i class="fa fa-times-circle"></i>&nbsp;{{ responseMessage }}
                </div>
                <div class="warning-msg" *ngIf="warningLabel">
                    <i class="fa fa-warning"></i>&nbsp;Please select a file
                </div>
            </div>
            <div class="bgimg1">
                <img src="assets\images\bg1.png" alt="">
            </div>
        </div>


        <!-- <div class="line"></div>
        <div class="section2" id="section-2">
            <h1 class="title">How its Works !</h1>

            <div class="row">
                <div class="col-4">
                    <img src="assets\images\bg2.png" class="bgimg2" alt="">
                </div>
                <div class="col-8">
                    <ul class="list-text">
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>

                    </ul>
                    <button class="btn" (click)="navigateToTutorial()">More</button>
                </div>

            </div>

        </div> -->


    </div>

    <!-- Pop Up -->
   
      
    <div *ngIf="openPopup" id="popup1" class="overlay">
        <div class="popup">
            <h2></h2>
            <a class="close" href="#" (click)="closepopup()">&times;</a>

            <div>

                <p-toast></p-toast>

                <h3 class="text-center mb-4">Database Configuration</h3>
     
                <form class="form-card" onsubmit="event.preventDefault()">
                    <div class="form-row">
                        <div class="row justify-content-between text-left" >
                            <div class="form-group col-sm-2 flex-column d-flex">
                                <label class="form-control-label px-3"
                                    style="margin-top: 1px; margin-bottom: 5px;">Host<span class="text-danger">
                                        *</span></label>
                                <p-dropdown [options]="hostname" [style]="{ 'width.px': '250' }" optionLabel="host"
                                    [showClear]="true" placeholder="Select a Host" name="SqlHost"
                                    (onChange)="selectport($event)" [(ngModel)]="excelData.SqlHost"></p-dropdown>
                            </div>
                            
                            <div class="form-group col-sm-2 flex-column d-flex">
                                <label class="form-control-label px-3"
                                    style="margin-top: 1px; margin-bottom: 5px;">Port<span class="text-danger">
                                        *</span></label>
                                <p-dropdown [options]="portname" optionLabel="port" [style]="{ 'width.px': '250' }"  name="SqlPort"
                                    [showClear]="true" placeholder="Select a Port" (onChange)="selectDatabase($event)" [(ngModel)]="excelData.SqlPort"></p-dropdown>
                                   
    
                            </div>
                            <div class="form-group col-sm-2 flex-column d-flex">
                                <label class="form-control-label px-3" style="margin-top: 1px; margin-bottom: 5px;">Database
                                    Name<span class="text-danger"> *</span></label>
                                
                                    <p-multiSelect [options]="databasename" [style]="{ 'width.px': '250' }" name="DatabaseName" [(ngModel)]="excelData.DatabaseName" optionLabel="database"></p-multiSelect>
                            </div>
                            <div class="form-group col-sm-2 flex-column d-flex">
                                <label class="form-control-label px-3">Username<span class="text-danger"> *</span></label>
                                <input type="text" id="uname" name="SqlUsername" placeholder="Enter Username" [(ngModel)]="excelData.SqlUsername">
                            </div>
                            <div class="form-group col-sm-2 flex-column d-flex">
                                <label class="form-control-label px-3">Password<span class="text-danger"> *</span></label>
                                <input type="password" id="password" name="SqlPassword" placeholder="Enter Password" [(ngModel)]="excelData.SqlPassword">
                            </div>
                            <div class="form-group col-sm-2" style="display: flex;justify-content: normal;flex-direction: row;">
                                <div class="message" *ngIf="verifyMessage">
                                    <p class="mtext-check">Verified</p>
                                    <svg class="checkmark addClass" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                        <circle class="checkmark__circle addClass" cx="26" cy="26" r="25" fill="none"/>
                                        <path class="checkmark__check addClass" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                                    </svg>
                                 </div>
                                 <div  class="message" *ngIf="invalidMessage">
                                    <p class="mtext-cross">Invalid Credentials</p>
                                    <svg class="crossmark addClass" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="crossmark__circle addClass" cx="26" cy="26" r="25" fill="none"/>
                                        <path class="cross__path cross__path--right addClass" fill="none" d="M16,16 l20,20" />
                                         <path class="cross__path cross__path--left addClass" fill="none" d="M16,36 l20,-20" />
                                    </svg>
                                 </div>
                                 <button type="submit" class="btn-block btn-primary" (click)="onVerify()">Verify</button> 
                            </div>
                         
                        </div>
                    </div>
                    

                </form>

                <p-table #dt [value]="excel" [rows]="5" [paginator]="true"
                    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
                    [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
                    [showCurrentPageReport]="true">
                    <ng-template pTemplate="caption">
                        <div class="flex align-items-center justify-content-between">
                            <h5 class="m-0">Manage Connections</h5>
                           <div class="trashButton" style="float:right">
                            <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
                           </div>
                                
                            
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 4rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="name">Host <p-sortIcon field="name"></p-sortIcon></th>
                            <th>Port</th>
                            <th pSortableColumn="price">Database Name <p-sortIcon field="price"></p-sortIcon></th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-excelRow>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="excelRow"></p-tableCheckbox>
                            </td>
                            <td>{{ excelRow.SqlHost }}</td>
                            <td>{{ excelRow.SqlPort }}</td>
                            <td>{{ excelRow.DatabaseName }}</td>
                            <td>

                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteProduct(excelRow)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="flex align-items-center justify-content-between">In total there are {{ excel ?
                            excel.length : 0 }} connection.
                             <button class="button-62" role="button" (click)="onSubmit()">Proceed</button>    
                        </div>
                       
                    </ng-template>
                    <div class="warning-msg" *ngIf="warningLabel">
                        <i class="fa fa-warning"></i>{{errorMessage}}
                    </div>
                </p-table>
            </div>

            <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
        </div>


    </div>
    <!-- Pop Up End-->
    <!--=============================== Tutorial Page ==============================-->