<main *ngIf="navigationView">

    <nav class="navbar-container" >
        <div class="logo-container">
            <img src="assets\images\STMlogo3.png" alt="" class="site-logo" >
            <img src="assets\images\NOTETECH LOGO 1 (1).png" alt="" class="logo" >
        </div>
        <div class="toggle-bars" (click)="toggleNavMenu()">
            <div class="togglebar"></div>
            <div class="togglebar"></div>
            <div class="togglebar"></div>
        </div>
        <ul class="navmenu-items" [ngClass]="{'active': isNavMenuActive}">
            <li class="nav-link"><a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
            <li class="nav-link"><a routerLink="/tutorial-page" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">How It Works</a></li>
            <li class="nav-link"><a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">About</a></li>
            <div class="login-register" *ngIf="AddEmployeeButton">
                <a class="button" (click)="onAddEmployee()"> + ADD EMPLOYEE</a>
            </div>
            <li (click)="logout()"><i class="fa fa-sign-out" style="font-size:30px; color:#009182;font-weight: 300;"></i></li>
            
        <!-- <div class="login-register">
                <a class="button" (click)="login()">Login</a>
                
                <a href="#" class="button">Sign in</a>
            </div> -->
        </ul>
    </nav>

<div class="wrapper" style="min-height: 700px;">
    
    <router-outlet></router-outlet>
</div>
   

<footer>
    <hr class="gradient-line" />
    <div class="footer-logo-container">
        <!-- <img src="assets\images\STMlogo3.png" alt="" class="footer-site-logo" > by
        <img src="assets\images\NOTETECH LOGO 1 (1).png" alt="" class="footer-logo" > -->
        <img src="assets\images\STMlogo3.png" alt="" class="footer-site-logo" ><p> by notetech.com</p>
    </div>
</footer>


<!--================= Login PopUp =======================-->

    <p-dialog [(visible)]="loginVisible" [modal]="true" [style]="{ 'width': '450px', 'min-height': '600px'}" [draggable]="false" [resizable]="false">
        <div>
            <form class="login-form">
                <div class="logo-login">
                    <img src="assets\images\STMlogo3.png" alt="" class="site-logo" >
                </div>
                <label for="username">Username</label>
                <input type="text" id="uname" name="username" placeholder="Username..">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password..">
                <p class="p-text1"><a>Forgot Password ?</a></p>
                <button class="button-37" role="button">LOGIN</button>
                <p class="p-text2">Don't have an account?<span>SIGN UP</span></p>
            </form>
        </div>
    </p-dialog>


    <!-- Add Company Pop Up -->

<p-dialog [(visible)]="AddEmployeeVisible"  [modal]="true" [style]="{ 'width': '55rem','padding':'0px 20px 0px 20px','box-shadow':'none'}" [draggable]="false" [resizable]="false">
    <div >
        <p-toast></p-toast>
        <h3 class="text-center mb-4">Employee Details</h3> 
        <form class="row g-3" (ngSubmit)="onSubmit()" #form="ngForm">
            <div class="col-md-12">
                <label class="form-label">Company Name</label>
                <input type="text" class="form-control" >
            </div>
            <div class="col-md-6">
                <label  class="form-label">First name</label>
                <input type="email" class="form-control" >
            </div>
            <div class="col-md-6">
                <label  class="form-label">Last Name</label>
                <input type="text" class="form-control" >
            </div>
            <div class="col-md-6">
                <label  class="form-label">Address 1</label>
                <input type="textarea" class="form-control" >
            </div>
            <div class="col-md-6">
                <label  class="form-label">Address 2 (optional)</label>
                <input type="textarea" class="form-control" >
            </div>
            <div class="col-md-6">
                <label  class="form-label">Country</label>
                <input type="text" class="form-control" >
            </div>
            <div class="col-md-6">
                <label  class="form-label">State</label>
                <input type="text" class="form-control" >
            </div>
            <div class="col-md-6">
                <label  class="form-label">City/Village/Town</label>
                <input type="text" class="form-control" >
            </div>
            <div class="col-md-6">
                <label  class="form-label">ZIP Code</label>
                <input type="text" class="form-control" >
            </div>
            <!-- <div class="col-md-6">
                <label  class="form-label">Access From Date</label>
                <input type="date" class="form-control">
            </div>
            <div class="col-md-6">
                <label  class="form-label">Access To Date</label>
                <input type="date" class="form-control">
            </div>
            <div class="col-md-6">
                <label  class="form-label">Maximum Users Allowed</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label  class="form-label">Number of Device Login</label>
                <input type="text" class="form-control">
            </div> -->
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block mt-4 w-100 "
              style="background: #008774; border-color: #355a64;">ADD</button>
            </div>
            
        </form>
    </div>
</p-dialog>
</main>
